h1 {
    color: orange;
    background-color: black;
}

.description {
    color: red;
    font-family: "Nanum Pen Script";
}

#degree {
    color: red;
    background-color: yellow;
}

h1, h3 {
    color: rgba(137, 43, 226, 0.587);
    background-color: lightblue;
        font-family: "Nanum Pen Script", cursive;
      }
      
.center {
    text-align: center;
}

p {
    color: orange;
}

.a { font-size: 1.0em;}
.b { font-size: 1.5em;}
.c { font-size: 2.0em;}

.parent {font-size: 30px;}